<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header" style="margin-left: 0;">
            <div class="header-bottom header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1
                                    col-sm-3">
                            <div class="logo">
                                <a href="/"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7
                                    col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none
                                        d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="Catagori">Categories</a></li>
                                        <!-- <li><a href="product_list">
                                                Product list</a></li> -->
                                        <!-- <li><a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="sign-in">Sign
                                                        in</a></li>
                                                <li><a href="cart">Card</a></li>
                                                <li><a href="about">About</a></li>
                                                <li><a href="cart">Shopping
                                                        Cart</a></li>
                                                <li><a href="checkout">Product
                                                        Checkout</a></li>
                                            </ul>
                                        </li> -->
                                        <li id="adminNavigation" style="display: None;"><a  href="/admin">Admin</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3
                                    col-sm-3
                                    fix-card">
                            <ul class="header-right f-right d-none
                                        d-lg-block d-flex
                                        justify-content-between">
                                <li class="d-none d-xl-block">
                                    <div class="form-box f-right">
                                        <input type="text" name="Search" placeholder="Search
                                                    products">
                                        <div class="search-icon">
                                            <i class="fas fa-search
                                                        special-tag"></i>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li class="d-none d-xl-block">
                                    <div class="favorit-items">
                                        <i class="far fa-heart"></i>
                                    </div>
                                </li> -->
                                <li class="d-none d-xl-block">
                                    <p id="userName"> </p>
                                </li>
                                <li>
                                    <div class="shopping-card">
                                        <p id="shoppingCardNumber" class="shopping-card-number">0</p>
                                        <a href="cart">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="d-none d-lg-block">
                                    <a id="signInButton" href="sign-in" class="btn header-btn"
                                        style="display: None;">Sign in</a>
                                    <a id="signOutButton" onclick="signOut()" class="btn header-btn"
                                        style="display: None;">Sign out</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>